# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Flask instance folder
instance/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# Database
*.db
*.sqlite

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo 